/* ALGEMEEN */

body {
	background-image:url('../img/bgimg.jpg');
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top;
}

#slider {
	margin-top: 80px;
}

/* CONTENT */

#artikel{
	margin-top: 20px;
	color: #feefc0;
	background-image:url('../img/contentbox1.jpg');
	background-size: 100%;
}

#artikel h1{
	color:#a91412;
	font-family: 'Oswald', sans-serif;
}

/* NAVIGATIE */

#navigatie {
	position: fixed;
	width: 100%;
	background: #523705;
	background-size: 100%;
	height: 60px;
	top: 0;
	left: 0;
	z-index: 5;
	text-align: right;
	margin: 0 auto;
	-moz-box-shadow: 0 0 10px 5px #000;
	-webkit-box-shadow: 0 0 10px 5px #000;
}

#navigatie ul {
	margin-top: 15px;
}

#navigatie li {
	display:inline;
	list-style-type: none;
	font-family: 'Oswald', sans-serif;
}

#navigatie ul li a {
	text-decoration: none;
	padding: 2em 1em;
	color: #fff;
	color:#9a7f2d;
}

#navigatie ul li a:hover {
	color:#a91412;
}

#logo {
	position: absolute;
	text-align: left;
	margin-top: 10px;
}

/* BANNER/SLIDER */

.orbit-container {
	background: transparent;
	max-width: 940px;
	overflow: visible!important;
}

.orbit-slides-container {
	overflow: hidden!important;
}

.banner {
	width: 960px;
	padding: 10px 0 0 10px;
	height: 412px;
	background: #9a7f2d;
	margin: 0 auto;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
	margin-top: -31px;
	height: 58px;
}

.orbit-container .orbit-prev {
	background: transparent url('../img/slider/prev.png');
	left: -60px;
}

.orbit-container .orbit-next {
	background: transparent url('../img/slider/next.png');
	right: -60px;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	border: none;
}

/* FOOTER */

#voet {
	margin-top: 100px;
	max-width: 64em;
	background-image:url('../img/bgfooter.jpg');
}

#voet ul {
	margin-left: 20px;
}

#voet h1 {
	color:#a91412;
	font-family: 'Oswald', sans-serif;
}

#voet li a {
	text-decoration: none;
	color:#fff;
}

#voet li a:hover {
	text-decoration: none;
	color:#a91412;
}

#voet p {
	color:#fff;
}