/* -------------------------------------------
   Opmaak voor de website van Ernest van Aaken
                      ---

   Inhoud:
   1. Algemene opmaak
   2. Navigatie opmaak
   3. Opmaak van de content
   4. Opmaak van de slider
   5. En niet te vergeten, de footer
   --------------------------------------------*/

/* 1. Algemene opmaak */

body {
	background-image:url('../img/layout/bgimg.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top;
}


.row {
	max-width: 58.125em;
}

.column, .columns {
	padding: 0 1.1875em 0 0;
}

[class*="column"] + [class*="column"]:last-child {
	padding: 0;
}

.row-no-margin-left {
	margin-left: 0!important; /* Quick & dirty */
}

/* 2. Navigatie opmaak */

#navigatie {
	position: fixed;
	width: 100%;
	background: #523705;
	background-size: 100%;
	height: 3.75em;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: right;
	margin: 0 auto;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, .4);
}

#navigatie ul {
	margin-top: 0.94em;
}

#navigatie li {
	display: inline;
	list-style-type: none;
	font: 1.25em 'Oswald', sans-serif;
	text-transform: uppercase;
}

#navigatie ul li a {
	text-decoration: none;
	padding: 0 1em;
	color: #fff;
	color:#9a7f2d;
}

#navigatie ul li:last-child a {
	padding-right: 0;
	margin-right: -.8em;
}

#navigatie ul li.actief a {
	color:#a91412;
}

#navigatie ul li a:hover {
	color:#a91412;
}

#logo {
	position: absolute;
	text-align: left;
	margin-top: 0.63em;
}

#logo img {
	width: 200px;
	height: 44px;
	max-width: none;
}

@media only screen and (max-width: 790px) {
	#navigatie {
		position: static;
		height: auto;
		text-align: left;
	}

	#navigatie ul {
		padding-top: 50px;
	}

	#navigatie li {
		display: block;
	}

	#navigatie li a {
		padding: 0 .5em;
		display: block;
	}

	#navigatie ul li:last-child a {
		margin-right: .5em;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
	#navigatie li {
		font-size: 1em;
	}

	#navigatie li a {
		padding: 2em .5em;
	}

	#navigatie ul li:last-child a {
		margin-right: .5em;
	}

}


.content {
	margin-top: 3.75em;
}

/* 3. Opmaak van de content */

.artikel {
	margin-top: 1.25em;
	color: #feefc0;
	background-image:url('../img/layout/contentbox2.jpg');
	background-size: 100%;
	padding: 1.1875em;
	overflow: hidden;
}

h2, h3 {
	color: #9f1513;
	font-size: 1.25em;
	font: bold 1.125rem 'Oswald', sans-serif;
	text-transform: uppercase;
}

h3 {
	font-size: 1em;
}

p {
	font: normal .9375rem 'Lato', sans-serif;
	color: #feefc0;
}

a {
	color: #9f1513;
}

a:hover, a:focus {
	color: #fff;
}

.socialmedia {
	margin: 1.69em 0 0.44em 0;
	text-align: right;
}

.socialmedia.metslider {
	margin-bottom: 1.69em;
}

/* 4. Opmaak van de slider */

.orbit-container {
	background: transparent;
	width: 100%;
	max-width: 940px;
	overflow: visible!important;
}

.orbit-slides-container {
	overflow: hidden!important;
}

.banner {
	max-width: 960px;
	height: auto;
	border: 10px solid #9a7f2d;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.banner .kopje {
	background: url('../img/slider/kopje.png');
	width: 187px;
	height: 99px;
	position: absolute;
	top: -35px;
	left: -40px;
	z-index: 20;
	text-transform: uppercase;
	padding: 25px 0 0 30px;
}

.banner .kopje h2 {
	color: #fff;
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	transform: rotate(-12deg);
	zoom: 1;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
	margin-top: -31px;
	height: 58px;
	width: 48px;
}

.orbit-container .orbit-prev:hover, .orbit-container .orbit-next:hover {
	background-color: transparent;
}

.orbit-container .orbit-prev {
	background: transparent url('../img/slider/prev.png');
	left: -58px;
}

.orbit-container .orbit-next {
	background: transparent url('../img/slider/next.png');
	right: -58px;
}

.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
	border: none;
}

.orbit-container .orbit-slides-container > * .orbit-caption {
	background: rgba(154, 127, 45, .7);
	width: 17.125em;
	right: 1.19em;
	top: 1.19em;
	bottom: 1.19em;
}

@media only screen and (max-width: 1080px) {
	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		display: none;
	}
}

@media only screen and (max-width: 890px) {
	.orbit-caption p {
		display: none;
	}
}

@media only screen and (max-width: 410px) {
	.orbit-caption {
		display: none;
	}
}

.leesmeer {
	background: url('../img/etc/leesmeer.png') no-repeat;
	width: 128px;
	height: 40px;
	color: rgba(255, 255, 255, .7);
	font: 0.88rem 'Oswald', sans-serif;
	text-transform: uppercase;
	display: block;
	line-height: 40px;
	text-align: center;
	margin-top: 0.81rem;
}

.leesmeer:hover {
	color: #fff;
}

.leesmeer.rechts {
	float: right;
}

/* 5. De agenda */
.agenda-item {
	overflow: hidden;
	margin-top: .8em;
}

.agenda-datum {
	background: url('../img/etc/agenda-datum.png');
	width: 61px;
	height: 56px;
	float: left;
	text-align: center;
	padding-top: 6px;
	font: normal .8125em 'Oswald', sans-serif;
	color: rgba(255, 255, 255, .7);
	line-height: 1;
}

.agenda-datum:hover {
	color: #fff;
}

.agenda-datum span {
	font-size: 1.3125rem;
	font-weight: bold;
	line-height: 1.2;
}

.agenda-titel {
	margin: .1em 0 0 .56em;
	overflow: hidden;
	float: left;
}

.agenda-titel em {
	font-size: 0.75rem;
}

/* 6. Foto's */
.th {
	border: solid 5px #473004;
	margin-right: .6em;
}

.th:last-child {
	margin-right: 0;
}

.th:hover, .th:focus {
	box-shadow: 0 0 6px 1px rgba(159, 21, 19, 0.5);
}

/* 7. En niet te vergeten, de footer */

footer {
	background: #523705;
	margin-top: 100px;
}

footer > .row {
	max-width: 60em!important;
}

#voet {
	max-width: 64em;
	overflow: hidden;
	padding: 1.1875em;
	font: normal .9375rem 'Lato', sans-serif;
}

#voet ul {
	margin-left: 20px;
}

#voet h2 {
	color: #9a7f2d;
}

#voet li a {
	text-decoration: none;
	color:#fff;
}

#voet li a:hover {
	text-decoration: none;
	color:#a91412;
}

#voet li {
	color: #9a7f2d;
}

#voet p {
	color:#fff;
}

.footer-socialmedia img {
	margin: 0.69em 1.69em 0 0;
}

.footer-socialmedia a:last-child img {
	margin-right: 0;
}